{% extends 'base.html.twig' %}

{% block title %}New CursadaDocente{% endblock %}

{% block body %}
    <h1>Crear Nueva Cursada por Docente</h1>

    {{ include('cursada_docente/_form.html.twig') }}

    <a href="{{ path('app_cursada_docente_index') }}">Regresar</a>
{% endblock %}
