<form method="post" action="{{ path('app_titulo_delete', {'id': titulo.id}) }}" onsubmit="return confirm('Confirmar Eliminación');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ titulo.id) }}">
    <button class="btn">Eliminar</button>
</form>
