{% extends 'base.html.twig' %}

{% block title %}New Titulo{% endblock %}

{% block body %}
    <h1>Agrear Nuevo Título</h1>

    {{ include('titulo/_form.html.twig') }}

    <a href="{{ path('app_titulo_index') }}"> Regresar </a>
{% endblock %}
