<form method="post" action="{{ path('app_pais_delete', {'id': pai.id}) }}" onsubmit="return confirm('Confirmar Eliminación');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pai.id) }}">
    <button class="btn">Eliminar</button>
</form>
