{% extends 'base.html.twig' %}

{% block title %}New Pais{% endblock %}

{% block body %}
    <h1>Introducir Nueva Nacionalidad</h1>

    {{ include('pais/_form.html.twig') }}

    <a href="{{ path('app_pais_index') }}">Regresar</a>
{% endblock %}
