
.container_X {
overflow: auto;/* scroll automatico horizontal y vertical */
}

.button {
    display: flex;
    justify-content: flex-end;
    /* El div no tiene color */
}

.button button {
    background: rgb(81, 81, 229); /* El color ahora está en el botón */
    color: white; /* Opcional: para que el texto se vea blanco */
    padding: 10px 20px; /* Opcional: tamaño del botón */
    border: none; /* Opcional: saca el borde gris feo */
    border-radius: 5px; /* Opcional: esquinas redondeadas */
    cursor: pointer; /* Cambia el cursor a manito */
}