/* estadistica_asistencia.css */


.tablillacursada {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 14px;
}


.tablillacursada th,
.tablillacursada td {
    padding: 12px;
    border: 1px solid #ccc;
}

.tablillacursada thead th {
    background-color: #4e73df;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.tablillacursada tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.tablillacursada tbody tr:hover {
    background-color: #e6f0ff;
}

#fechatablilla {
    font-weight: bold;
    color:#ffffff;
}

.botondeporcentaje {
    display: block;
    margin: 30px auto 0;
    padding: 10px 20px;
    background-color: #4e73df;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botondeporcentaje:hover {
    background-color: #4e73df;
}
.acciones {
    display: flex;
    flex-direction: column;
    /* Asegura que los elementos se apilen verticalmente */
    align-items: center;
    /* Centra el contenido horizontalmente */
    gap: 20px;
    /* Espacio entre los elementos */
    margin-top: 30px;
    padding: 20px;
}

.botondeporcentaje {
    display: block;
    margin: 0 auto;
    /* Alinea el botón al centro */
    padding: 10px 20px;
    background-color: #4e73df;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.botondeporcentaje:hover {
    background-color: #2e58a1;
    /* Efecto hover */
}

.descarga-planilla {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    width: auto;
    max-width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.descarga-planilla h3 {
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
}

.botones-descarga {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.boton-excel,
.boton-pdf {
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    font-size: 14px;
}

.boton-excel {
    background-color: #1d6f42;
    transition: background-color 0.3s ease;
}

.boton-excel:hover {
    background-color: #155d37;
    /* Efecto hover */
}

.boton-pdf {
    background-color: #d32f2f;
    transition: background-color 0.3s ease;
}

.boton-pdf:hover {
    background-color: #9a1c1c;
    /* Efecto hover */
}