{{ form_start(form, {'attr': {'id': 'form-crea-docnete', 'action': path('crear_docente' )}}) }}
    {{ form_row(form.persona) }} 
    {{ form_row(form.foja) }} 
    <button type="submit">Guardar</button>
{{ form_end(form) }}



