<form method="post" action="{{ path('app_carreras_delete', {'id': carrera.id}) }}" onsubmit="return confirm('Confirmar Eliminación');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ carrera.id) }}">
    <button class="btn">Eliminar</button>
</form>
