{% extends 'base.html.twig' %}

{% block title %}New Habilitante{% endblock %}

{% block body %}
    <h1>Crear Nueva Habilitante</h1>

    {{ include('habilitante/_form.html.twig') }}

    <a href="{{ path('app_habilitante_index') }}">Regresar</a>
{% endblock %}
