{% extends 'base.html.twig' %}

{% block title %}New Persona{% endblock %}

{% block body %}
    <h1>Crear Nueva Persona</h1>

    {{ include('persona/_form.html.twig') }}

    <a href="{{ path('app_persona_index') }}">Regresar</a>
{% endblock %}
