<form method="post" action="{{ path('app_revista_delete', {'id': revistum.id}) }}" onsubmit="return confirm('Confirmar Eliminación');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ revistum.id) }}">
    <button class="btn">Eliminar</button>
</form>
