{% extends 'base.html.twig' %}

{% block title %}New ExamenFinal{% endblock %}

{% block body %}
    <h1>Crear Nuevo Examen Final</h1>

    {{ include('examen_final/_form.html.twig') }}

    <a href="{{ path('app_examen_final_index') }}">Regresar</a>
{% endblock %}
