{% extends 'base.html.twig' %}

{% block title %}Correlativa index{% endblock %}

{% block body %}
    <h1>Correlativa index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for correlativa in correlativas %}
            <tr>
                <td>{{ correlativa.id }}</td>
                <td>
                    <a href="{{ path('app_correlativa_show', {'id': correlativa.id}) }}">show</a>
                    <a href="{{ path('app_correlativa_edit', {'id': correlativa.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_correlativa_new') }}">Create new</a>
{% endblock %}
