{% extends 'base.html.twig' %}

{% block title %}New Correlativa{% endblock %}

{% block body %}
    <h1>Create new Correlativa</h1>

    {{ include('correlativa/_form.html.twig') }}

    <a href="{{ path('app_correlativa_index') }}">back to list</a>
{% endblock %}
