<form method="post" action="{{ path('app_nota_delete', {'id': notum.id}) }}" onsubmit="return confirm('Confirmar Eliminación');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ notum.id) }}">
    <button class="btn">Eliminar</button>
</form>
