<form method="post" action="{{ path('app_calendario_clase_delete', {'id': calendario_clase.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ calendario_clase.id) }}">
    <button class="btn">Delete</button>
</form>
