{% extends 'base.html.twig' %}

{% block title %}New Tecnicatura{% endblock %}

{% block body %}
    <h1>Create new Tecnicatura</h1>

    {{ include('tecnicatura/_form.html.twig') }}

    <a href="{{ path('app_tecnicatura_index') }}">back to list</a>
{% endblock %}
