<form method="post" action="{{ path('app_cursada_delete', {'id': cursada.id}) }}" onsubmit="return confirm('Confirmar Eliminación');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cursada.id) }}">
    <button class="btn">Eliminar</button>
</form>
