<form method="post" action="{{ path('app_provincia_delete', {'id': provincium.id}) }}" onsubmit="return confirm('Confirmar Eliminación');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ provincium.id) }}">
    <button class="btn">Eliminar</button>
</form>
