<form method="post" action="{{ path('app_asistencia_delete', {'id': asistencium.id}) }}" onsubmit="return confirm('Confirmar Eliminación');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ asistencium.id) }}">
    <button class="btn">Eliminar</button>
</form>
