{% extends 'base.html.twig' %}

{% block title %}New Asistencia{% endblock %}

{% block body %}
    <h1>Crear Nueva Asistencia</h1>

    {{ include('asistencia/_form.html.twig') }}

    <a href="{{ path('app_asistencia_index') }}">Regresar</a>
{% endblock %}
