<form method="post" action="{{ path('app_instituto_delete', {'id': instituto.id}) }}" onsubmit="return confirm('Confirmar Eliminación');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ instituto.id) }}">
    <button class="btn">Eliminar</button>
</form>
