{% extends 'base.html.twig' %}

{% block title %}New Instituto{% endblock %}

{% block body %}
    <h1>Create new Instituto</h1>

    {{ include('instituto/_form.html.twig') }}

    <a href="{{ path('app_instituto_index') }}">back to list</a>
{% endblock %}
