<form method="post" action="{{ path('app_docente_delete', {'id': docente.id}) }}" onsubmit="return confirm('Confirmar Eliminación');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ docente.id) }}">
    <button class="btn">Eliminar</button>
</form>
