{% extends 'base.html.twig' %}

{% block title %}New Curso{% endblock %}

{% block body %}
    <h1>Crear Nuevo Curso</h1>

    {{ include('curso/_form.html.twig') }}

    <a href="{{ path('app_curso_index') }}">Regresar</a>
{% endblock %}
