{% extends 'base.html.twig' %}

{% block title %}New InscripcionFinal{% endblock %}

{% block body %}
    <h1>Create new InscripcionFinal</h1>

    {{ include('inscripcion_final/_form.html.twig') }}

    <a href="{{ path('app_inscripcion_final_index') }}">back to list</a>
{% endblock %}
