<form method="post" action="{{ path('app_region_delete', {'id': region.id}) }}" onsubmit="return confirm('Confirmar Eliminación');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ region.id) }}">
    <button class="btn">Eliminar</button>
</form>
