{% extends 'base.html.twig' %}

{% block title %}New Region{% endblock %}

{% block body %}
    <h1>Crear Nueva Región</h1>

    {{ include('region/_form.html.twig') }}

    <a href="{{ path('app_region_index') }}">Regresar</a>
{% endblock %}
