{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
<div class="home-div">
    <h1>Crear nuevo Usuario</h1>
    <table class="tabla_home" border=1>
    {{ include('user/_form.html.twig') }}

    <a href="{{ path('app_user_index') }}">Volver</a>
    </table>
</div>
{% endblock %}
