{% extends 'base.html.twig' %}

{% block title %}New Localidad{% endblock %}

{% block body %}
    <h1>Incorporar Nueva Localidad</h1>

    {{ include('localidad/_form.html.twig') }}

    <a href="{{ path('app_localidad_index') }}">Regresar</a>
{% endblock %}
